<%- include('../partials/header') %>
<!DOCTYPE html>
<html>
	<head>
		<title>Voting App - Dashboard</title>
		<link rel="stylesheet" href="styles.css">
</head>
	<body>
		<header>
			<h1>Voting App</h1>
			<nav>
			</nav>
		</header>

		<div class="main-content">
			<h2>Your Active Polls</h2>
			<ul id="polls">
				<% if (polls.length > 0) { %>
				<% polls.forEach((poll) => { %>
				<li class="poll-container">
					<h3>
						<%= poll.question %>
					</h3>
					<ul class="poll-options">
						<% for (let { answer, votes } of poll.options) { %>
						<li>
							<%= answer %>: <%= votes %> votes
						</li>
						<% } %>
					</ul>
					<form class="poll-form">
						<% for (let { answer } of poll.options) { %>
						<button class="vote-button" type="button" data-poll-id=""
							<%= poll._id %>" data-option="<%= answer %>">
							Vote for <%= answer %>
						</button>
						<% } %>
					</form>
				</li>
				<% }) %>
				<% } else { %>
				<p>You haven't created any polls yet.</p>
				<% } %>
			</ul>
			<a href="/createpoll" class="create-poll-button">Create a New Poll</a>
		</div>

		<script src="/frontend.js"></script>
	</body>
</html>